/*  your css code here. If applicable */
body{
	background-color:rgb(250, 250, 250);
}
.cards-wrapper{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}
.card{
	border:10px solid #ccc;
	background-color:#fafafa;
}
.card>h1{
	font-size:36px;
}
.card> p{
	font-size:18px;
}